spagolite-si-client/src/main/resources/wsdl/CalcoloServiziErogati.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.saceriam.eng.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CalcoloServiziErogati" targetNamespace="http://ws.saceriam.eng.it/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.saceriam.eng.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.saceriam.eng.it/">
<xs:element name="calcoloServiziErogati" type="tns:calcoloServiziErogati"/>
<xs:element name="calcoloServiziErogatiResponse" type="tns:calcoloServiziErogatiResponse"/>
<xs:complexType name="calcoloServiziErogati">
<xs:sequence>
<xs:element minOccurs="0" name="idEnteConvenz" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="calcoloServiziErogatiResponse">
<xs:sequence/>
</xs:complexType>
<xs:simpleType name="codiceErrore">
<xs:restriction base="xs:string">
<xs:enumeration value="LOGIN_FALLITO"/>
<xs:enumeration value="UTENTE_NON_ATTIVO"/>
<xs:enumeration value="UTENTE_SCADUTO"/>
<xs:enumeration value="UTENTE_NON_AUTORIZZATO"/>
<xs:enumeration value="PROBLEMA_ESTRAZIONE_APPLICAZIONE"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="AuthWSException" type="tns:AuthWSException"/>
<xs:complexType name="AuthWSException">
<xs:sequence>
<xs:element minOccurs="0" name="codiceErrore" type="tns:codiceErrore"/>
<xs:element minOccurs="0" name="descrizioneErrore" type="xs:string"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="calcoloServiziErogatiResponse">
<wsdl:part element="tns:calcoloServiziErogatiResponse" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:message name="AuthWSException">
<wsdl:part element="tns:AuthWSException" name="AuthWSException"> </wsdl:part>
</wsdl:message>
<wsdl:message name="calcoloServiziErogati">
<wsdl:part element="tns:calcoloServiziErogati" name="parameters"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="CalcoloServiziErogati">
<wsdl:operation name="calcoloServiziErogati">
<wsdl:input message="tns:calcoloServiziErogati" name="calcoloServiziErogati"> </wsdl:input>
<wsdl:output message="tns:calcoloServiziErogatiResponse" name="calcoloServiziErogatiResponse"> </wsdl:output>
<wsdl:fault message="tns:AuthWSException" name="AuthWSException"> </wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CalcoloServiziErogatiSoapBinding" type="tns:CalcoloServiziErogati">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="calcoloServiziErogati">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="calcoloServiziErogati">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="calcoloServiziErogatiResponse">
<soap:body use="literal"/>
</wsdl:output>
<wsdl:fault name="AuthWSException">
<soap:fault name="AuthWSException" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CalcoloServiziErogati">
<wsdl:port binding="tns:CalcoloServiziErogatiSoapBinding" name="CalcoloServiziErogatiPort">
<soap:address location="http://localhost:8080/saceriam/CalcoloServiziErogati"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>