spagolite-si-client/src/main/resources/wsdl/RecuperoAutorizzazioni.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.saceriam.eng.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.saceriam.eng.it/" name="RecuperoAutorizzazioni">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.saceriam.eng.it/" schemaLocation="../xsd/RecuperoAutorizzazioni.xsd"/>
</xsd:schema>
</types>
<message name="recuperoAutorizzazioniPerID">
<part name="parameters" element="tns:recuperoAutorizzazioniPerID"/>
</message>
<message name="recuperoAutorizzazioniPerIDResponse">
<part name="parameters" element="tns:recuperoAutorizzazioniPerIDResponse"/>
</message>
<message name="AuthWSException">
<part name="fault" element="tns:AuthWSException"/>
</message>
<message name="recuperoAutorizzazioniPerNome">
<part name="parameters" element="tns:recuperoAutorizzazioniPerNome"/>
</message>
<message name="recuperoAutorizzazioniPerNomeResponse">
<part name="parameters" element="tns:recuperoAutorizzazioniPerNomeResponse"/>
</message>
<portType name="RecuperoAutorizzazioni">
<operation name="recuperoAutorizzazioniPerID">
<input wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerIDRequest" message="tns:recuperoAutorizzazioniPerID"/>
<output wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerIDResponse" message="tns:recuperoAutorizzazioniPerIDResponse"/>
<fault message="tns:AuthWSException" name="AuthWSException" wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerID/Fault/AuthWSException"/>
</operation>
<operation name="recuperoAutorizzazioniPerNome">
<input wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerNomeRequest" message="tns:recuperoAutorizzazioniPerNome"/>
<output wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerNomeResponse" message="tns:recuperoAutorizzazioniPerNomeResponse"/>
<fault message="tns:AuthWSException" name="AuthWSException" wsam:Action="http://ws.saceriam.eng.it/RecuperoAutorizzazioni/recuperoAutorizzazioniPerNome/Fault/AuthWSException"/>
</operation>
</portType>
<binding name="RecuperoAutorizzazioniPortBinding" type="tns:RecuperoAutorizzazioni">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="recuperoAutorizzazioniPerID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthWSException">
<soap:fault name="AuthWSException" use="literal"/>
</fault>
</operation>
<operation name="recuperoAutorizzazioniPerNome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuthWSException">
<soap:fault name="AuthWSException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RecuperoAutorizzazioni">
<port name="RecuperoAutorizzazioniPort" binding="tns:RecuperoAutorizzazioniPortBinding">
<soap:address location="http://ibc3850:80/saceriam/RecuperoAutorizzazioni"/>
</port>
</service>
</definitions>