spagolite-si-client/src/main/resources/wsdl/ReplicaOrganizzazione.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.saceriam.eng.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.saceriam.eng.it/" name="ReplicaOrganizzazione">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.saceriam.eng.it/" schemaLocation="../xsd/ReplicaOrganizzazione.xsd"/>
</xsd:schema>
</types>
<message name="modificaOrganizzazione">
<part name="parameters" element="tns:modificaOrganizzazione"/>
</message>
<message name="modificaOrganizzazioneResponse">
<part name="parameters" element="tns:modificaOrganizzazioneResponse"/>
</message>
<message name="inserimentoOrganizzazione">
<part name="parameters" element="tns:inserimentoOrganizzazione"/>
</message>
<message name="inserimentoOrganizzazioneResponse">
<part name="parameters" element="tns:inserimentoOrganizzazioneResponse"/>
</message>
<message name="cancellaOrganizzazione">
<part name="parameters" element="tns:cancellaOrganizzazione"/>
</message>
<message name="cancellaOrganizzazioneResponse">
<part name="parameters" element="tns:cancellaOrganizzazioneResponse"/>
</message>
<portType name="ReplicaOrganizzazione">
<operation name="modificaOrganizzazione">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/modificaOrganizzazioneRequest" message="tns:modificaOrganizzazione"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/modificaOrganizzazioneResponse" message="tns:modificaOrganizzazioneResponse"/>
</operation>
<operation name="inserimentoOrganizzazione">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/inserimentoOrganizzazioneRequest" message="tns:inserimentoOrganizzazione"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/inserimentoOrganizzazioneResponse" message="tns:inserimentoOrganizzazioneResponse"/>
</operation>
<operation name="cancellaOrganizzazione">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/cancellaOrganizzazioneRequest" message="tns:cancellaOrganizzazione"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaOrganizzazione/cancellaOrganizzazioneResponse" message="tns:cancellaOrganizzazioneResponse"/>
</operation>
</portType>
<binding name="ReplicaOrganizzazionePortBinding" type="tns:ReplicaOrganizzazione">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificaOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserimentoOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancellaOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReplicaOrganizzazione">
<port name="ReplicaOrganizzazionePort" binding="tns:ReplicaOrganizzazionePortBinding">
<soap:address location="http://localhost:8080/saceriam/ReplicaOrganizzazione"/>
</port>
</service>
</definitions>