spagolite-si-client/src/main/resources/wsdl/ReplicaUtente.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.saceriam.eng.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.saceriam.eng.it/" name="ReplicaUtente">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.saceriam.eng.it/" schemaLocation="../xsd/ReplicaUtente.xsd"/>
</xsd:schema>
</types>
<message name="modificaUtente">
<part name="parameters" element="tns:modificaUtente"/>
</message>
<message name="modificaUtenteResponse">
<part name="parameters" element="tns:modificaUtenteResponse"/>
</message>
<message name="inserimentoUtente">
<part name="parameters" element="tns:inserimentoUtente"/>
</message>
<message name="inserimentoUtenteResponse">
<part name="parameters" element="tns:inserimentoUtenteResponse"/>
</message>
<message name="cancellaUtente">
<part name="parameters" element="tns:cancellaUtente"/>
</message>
<message name="cancellaUtenteResponse">
<part name="parameters" element="tns:cancellaUtenteResponse"/>
</message>
<portType name="ReplicaUtente">
<operation name="modificaUtente">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/modificaUtenteRequest" message="tns:modificaUtente"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/modificaUtenteResponse" message="tns:modificaUtenteResponse"/>
</operation>
<operation name="inserimentoUtente">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/inserimentoUtenteRequest" message="tns:inserimentoUtente"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/inserimentoUtenteResponse" message="tns:inserimentoUtenteResponse"/>
</operation>
<operation name="cancellaUtente">
<input wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/cancellaUtenteRequest" message="tns:cancellaUtente"/>
<output wsam:Action="http://ws.saceriam.eng.it/ReplicaUtente/cancellaUtenteResponse" message="tns:cancellaUtenteResponse"/>
</operation>
</portType>
<binding name="ReplicaUtentePortBinding" type="tns:ReplicaUtente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificaUtente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inserimentoUtente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancellaUtente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReplicaUtente">
<port name="ReplicaUtentePort" binding="tns:ReplicaUtentePortBinding">
<soap:address location="http://localhost:8080/sacer/ReplicaUtente"/>
</port>
</service>
</definitions>