spagolite-si-client/src/main/resources/xsd/ReplicaUtente.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.saceriam.eng.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.saceriam.eng.it/">

<xs:element name="cancellaUtente" type="tns:cancellaUtente"/>

<xs:element name="cancellaUtenteResponse" type="tns:cancellaUtenteResponse"/>

<xs:element name="inserimentoUtente" type="tns:inserimentoUtente"/>

<xs:element name="inserimentoUtenteResponse" type="tns:inserimentoUtenteResponse"/>

<xs:element name="modificaUtente" type="tns:modificaUtente"/>

<xs:element name="modificaUtenteResponse" type="tns:modificaUtenteResponse"/>

<xs:complexType name="modificaUtente">
<xs:sequence>
<xs:element name="utente" type="tns:utente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="utente">
<xs:sequence>
<xs:element name="cdFisc" type="xs:string" minOccurs="0"/>
<xs:element name="cdPsw" type="xs:string" minOccurs="0"/>
<xs:element name="cdSalt" type="xs:string" minOccurs="0"/>
<xs:element name="dsEmail" type="xs:string" minOccurs="0"/>
<xs:element name="dtRegPsw" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dtScadPsw" type="xs:dateTime" minOccurs="0"/>
<xs:element name="flAttivo" type="xs:string" minOccurs="0"/>
<xs:element name="flContrIp" type="xs:string" minOccurs="0"/>
<xs:element name="flUserAdmin" type="xs:string" minOccurs="0"/>
<xs:element name="idUserIam" type="xs:long"/>
<xs:element name="listaIndIp" type="tns:listaIndIp" minOccurs="0"/>
<xs:element name="listaOrganizAbil" type="tns:listaOrganizAbil" minOccurs="0"/>
<xs:element name="nmCognomeUser" type="xs:string" minOccurs="0"/>
<xs:element name="nmNomeUser" type="xs:string" minOccurs="0"/>
<xs:element name="nmUserid" type="xs:string" minOccurs="0"/>
<xs:element name="tipoUser" type="xs:string" minOccurs="0"/>
<xs:element name="tipoAuth" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaIndIp">
<xs:sequence>
<xs:element name="indIp" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaOrganizAbil">
<xs:sequence>
<xs:element name="organizAbilList" type="tns:organizAbil" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="organizAbil">
<xs:sequence>
<xs:element name="flOrganizDefault" type="xs:boolean"/>
<xs:element name="idOrganizApplicAbil" type="xs:int" minOccurs="0"/>
<xs:element name="listaServiziAutor" type="tns:listaServiziAutor" minOccurs="0"/>
<xs:element name="listaTipiDatoAbil" type="tns:listaTipiDatoAbil" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaServiziAutor">
<xs:sequence>
<xs:element name="nmServizioAutor" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaTipiDatoAbil">
<xs:sequence>
<xs:element name="tipoDatoAbilList" type="tns:tipoDatoAbil" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoDatoAbil">
<xs:sequence>
<xs:element name="idTipoDatoApplic" type="xs:long" minOccurs="0"/>
<xs:element name="nmClasseTipoDato" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaUtenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:modificaUtenteRisposta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaUtenteRisposta">
<xs:complexContent>
<xs:extension base="tns:replicaUtenteRispostaAbstract">
<xs:sequence>
<xs:element name="utente" type="tns:utente" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="replicaUtenteRispostaAbstract">
<xs:sequence>
<xs:element name="cdErr" type="xs:string" minOccurs="0"/>
<xs:element name="cdEsito" type="tns:esitoServizio" minOccurs="0"/>
<xs:element name="dsErr" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserimentoUtente">
<xs:sequence>
<xs:element name="utente" type="tns:utente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserimentoUtenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:inserimentoUtenteRisposta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserimentoUtenteRisposta">
<xs:complexContent>
<xs:extension base="tns:replicaUtenteRispostaAbstract">
<xs:sequence>
<xs:element name="utente" type="tns:utente" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="cancellaUtente">
<xs:sequence>
<xs:element name="idUserIam" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancellaUtenteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cancellaUtenteRisposta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancellaUtenteRisposta">
<xs:complexContent>
<xs:extension base="tns:replicaUtenteRispostaAbstract">
<xs:sequence>
<xs:element name="idUserIam" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="esitoServizio">
<xs:restriction base="xs:string">
<xs:enumeration value="OK"/>
<xs:enumeration value="KO"/>
<xs:enumeration value="WARN"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>